@use "sass:map";

/* FONT SIZES & WEIGHTS */
$utilities: map.deep-merge(
  $utilities, (
    "font-family": (
      property: font-family,
      class: ff,
      values: (
        sans-serif: $font-family-sans-serif,
        serif: $font-family-serif,
      )
    ),
    "font-size": (
      responsive: true
    ),
    "font-weight": (
      values: (100, 200, 300, 400, 500, 600, 700, 800, 900)
    ),
    "line-height": (
      values: (
        0
      )
    ),
  )
);
