<section class="mt-n8">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="grid bg-gray-400" style="--bs-gap: 1px;">
                    {% for metric in metrics %}
                        <div class="g-col-lg-3 g-col-6 bg-body">
                            <div class="vstack gap-2 align-items-center h-100 p-3 text-center">
                                <strong class="fs-9 fw-600 text-gray-500 text-uppercase">{{ metric.title }}</strong>
                                <span class="h4 fs-xl-3 my-auto fw-500 text-primary">{{ metric.value }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
