<section {{ html_attr({ class }) }}>
    <div class="container">
        <div class="card">
            <div class="card-body p-lg-5 p-0">
                <div class="grid grid-cols-lg-4 grid-cols-sm-2 grid-cols-1 bg-gray-400" style="--bs-gap: 1px;">
                    {% for metric in metrics %}
                        <div class="bg-body">
                            <div class="vstack gap-2 align-items-center h-100 p-3 text-center">
                                <strong class="fs-9 fw-600 text-gray-500 text-uppercase">{{ metric.title }}</strong>
                                <span class="h4 fs-xl-3 my-auto fw-500">{{ metric.value }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
