<section class="py-9 bg-gradient">
    <div class="container">
        <div class="row gy-5 align-items-center justify-content-between">
            <div class="col-lg-5">
                {% include 'components/figure.twig' with {
                    pattern: 'start',
                    src: asset('images/home/fields_of_activity.png'),
                    ratio: '453 / 575',
                    color: 'green-700'
                } only %}
            </div>
            <div class="col-lg-6">
                {% include 'components/section-title.html.twig' with { title: activities.title, classes: 'mb-6' } only %}
                {% include 'components/icon-list.html.twig' with { list: activities.items } %}
            </div>
        </div>
    </div>
</section>
