<section>
    <div class="container">
        <div class="card p-5 p-md-7 bg-gradient-white">
            <div class="row gy-3 gx-8">
                <div class="col-lg-auto">
                    <h2 class="h1 text-primary">{{ timeline.title }}</h2>
                </div>
                <div class="col-lg">
                    <ul class="list-timeline mb-0">
                        {% for item in timeline.items %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
