@use "sass:list";
@use "sass:map";

$public-images-url: '/app/themes/crux/public/images';

// Color system
$gray-200: #eeece7;
$gray-300: #d6d4ce;
$gray-400: #b5b4b2;
$gray-500: #8c887f;
$gray-900: #323232;

$green-100: #dfe5db;
$green-200: #d4e7e1;
$green-700: #5d847e;
$green-800: #2d5a51;
$green-900: #13423a;

$primary:       $green-900;
$secondary:     $gray-300;

// Options
$enable-negative-margins:     true;

// Prefix for :root CSS variables
$prefix: bs-;

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
  7: $spacer * 12,
);

// Body
$body-color:                  $gray-900;
$body-bg:                     $gray-200;

$body-secondary-color:        $gray-500;

// Paragraphs
$paragraph-margin-bottom:     0;

// Components
$border-color:                $gray-400;
$border-radius:               .625rem;

$border-radius-lg:            1.5rem;
$border-radius-xl:            3rem;
$border-radius-xxl:           4rem;

$aspect-ratios-native: (
  null: var(--#{$prefix}aspect-ratio),
  "1x1": list.slash(1, 1),
  "3x1": list.slash(3, 1),
  "4x3": list.slash(4, 3),
  "16x9": list.slash(16, 9),
  "21x9": list.slash(21, 9)
);

// Typography
$font-family-sans-serif:      "Inter", sans-serif;
$font-family-serif:           "Canela", serif;

$font-size-base:              1.125rem;   // 18px

$font-size-md:                1rem;       // 16px
$font-size-sm:                .875rem;    // 14px
$font-size-xs:                .75rem;     // 12px
$font-size-xxs:               .625rem;    // 10px

$line-height-base:            1.75;
$line-height-sm:              1.45;
$line-height-xs:              1.3334;

$h1-font-size:                3.375rem;   // 54px
$h2-font-size:                2.625rem;   // 42px
$h3-font-size:                2rem;       // 32px
$h4-font-size:                1.75rem;    // 28px
$h5-font-size:                1.5rem;     // 24px
$h6-font-size:                1.25rem;    // 20px

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-base,
  8: $font-size-md,
  9: $font-size-sm,
  10: $font-size-xs,
  11: $font-size-xxs,
);

$headings-margin-bottom:      0;
$headings-font-family:        $font-family-serif;
$headings-font-weight:        300;

// Buttons + Forms
$input-btn-padding-y:         1rem;
$input-btn-padding-x:         1rem;
$input-btn-font-family:       $font-family-sans-serif;
$input-btn-font-size:         $font-size-base;
$input-btn-line-height:       $line-height-xs;

// Buttons
$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               2.5rem;
$btn-font-size:               $font-size-xs;

$btn-font-weight:             600;

$btn-border-radius:           var(--#{$prefix}border-radius-pill);

// Forms
$form-label-font-size:                  $font-size-xxs;
$form-label-font-weight:                600;

// Navs

// Navbar
$navbar-padding-y:                  map.get($spacers, 3);

$navbar-nav-link-padding-x:         map.get($spacers, 4);

$navbar-brand-padding-y:            0;

$navbar-toggler-focus-width:        0;

$navbar-light-color:                $primary;
$navbar-light-brand-color:          $navbar-light-color;
$navbar-light-brand-hover-color:    $navbar-light-color;

$navbar-light-icon-color:           $primary;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='42' height='23' fill='#{$navbar-light-icon-color}'><path d='M0 0h42v3H0zm0 10h42v3H0zm0 10h42v3H0z'/></svg>");
$navbar-light-toggler-border-color: transparent;

$navbar-dark-color:                 $secondary;
$navbar-dark-brand-color:           $navbar-dark-color;
$navbar-dark-brand-hover-color:     $navbar-dark-color;

$navbar-dark-icon-color:            $secondary;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='42' height='23' fill='#{$navbar-dark-icon-color}'><path d='M0 0h42v3H0zm0 10h42v3H0zm0 10h42v3H0z'/></svg>");
$navbar-dark-toggler-border-color:  transparent;

// Figures
$figure-pattern-cols:               8;
$figure-pattern-rows:               14;

@import '~bootstrap/scss/variables';

$theme-colors: map.merge($theme-colors, (
  "primary":    $primary,
  "secondary":  $secondary,
  "green-100":  $green-100,
  "green-200":  $green-200,
  "green-700":  $green-700,
  "green-800":  $green-800,
  "green-900":  $green-900,
));
