{% extends "layouts/base.twig" %}

{% block content %}
    <main class="py-7">
        <div class="container">
            {% if post %}
                <h1 class="mb-5 text-primary">{{ post.title }}</h1>
                {{ post.content }}
            {% endif %}
        </div>
    </main>
{% endblock %}
