<div
    id="{{ id }}"
    class="offcanvas offcanvas-end"
    tabindex="-1"
    aria-labelledby="{{ id }}-label"
>
    <header class="offcanvas-header flex-wrap gap-3 bg-gradient-horizontal">
        {% block header %}
        {% endblock %}

        <button type="button" data-bs-dismiss="offcanvas" class="btn-close m-0 p-0" aria-label="Bezárás"></button>
    </header>

    <div class="offcanvas-body">
        {% block body %}
        {% endblock %}
    </div>
</div>
